footer {
  position: fixed;
  bottom: 0;
  width: 100vw;
  padding: 10px 0 30px 0;
  border-top: 1px solid #e1dede;
  background-color: #fff;
}

.footer-block {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.footer-icons {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.footer-icons__disc {
  font-size: 12px;
}

.footer-icons__img {
  width: 30px;
}
