main {
  display: flex;
  flex-direction: column;
  gap: 12px;
  padding: 10px;
}
/* BOARD */
.board-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.board-row {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.board-block {
  width: 60px;
  height: 60px;
  border: 3px solid #d3d6da;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* KEYBOARD */
.keyboard-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 6px;
}

.keyboard-row {
  display: flex;
  gap: 6px;
}

.key {
  width: 45px;
  height: 60px;
  background-color: #d3d6da;
  border-radius: 6px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 20px;
  font-weight: bolder;
}

.key_enter {
  width: 70px;
  font-size: 14px;
}

.key_backspace {
  width: 70px;
}

.key_backspace > img {
  width: 28px;
}
